@page "/quizapp"
@using Microsoft.Extensions.Configuration
@using System.Net.Http.Headers
@using Newtonsoft.Json
@using QuizApp.Data
<h3>Quiz Application</h3>

    @if(QuestionCategory != null)
    {
    @for(int i = 0; i < QuestionCategory.Count / 4; i++)
    {
            GetTopics(i*4,4);
             <div class="d-block">
            @foreach(var item in ListOfElements){
            
                <a href="/category?NameOfCategory=@item.name">
            <div class="d-inline ">
               
                    @item.name
                    
            </div>
                </a>
              
            }
        </div>
    }


    }


@code {
    [Inject]
    public IHttpClientFactory clientFactory { get; set; }
    [Inject]
    public IConfiguration configuration { get; set; }
    public static string Token;
    public List<Topic> QuestionCategory{ get; set; }
    public HttpClient httpClient = new HttpClient();
    
    public List<Topic> ListOfElements{ get; set; }
    protected async override Task OnInitializedAsync()
    {
        Token = configuration.GetValue<string>("Token");
        httpClient = clientFactory.CreateClient("HttpClientService");

        httpClient.DefaultRequestHeaders.Add("X-Api-Key", $"{Token}");
        var response = await httpClient.GetAsync("/api/v1/categories");

        //Deserijalizacija
        var stringContent = await response.Content.ReadAsStringAsync();
        QuestionCategory = JsonConvert.DeserializeObject<List<Topic>>(stringContent);
        Console.WriteLine("");

    }
    public async Task GetTopics(int skip,int take)
    {
        ListOfElements = QuestionCategory.Skip(skip).Take(take).ToList<Topic>();
    }

}

