
.center{
    margin-left:auto;
    margin-right:auto;
    width:700px;
    text-align:center;
}
#mainText{
    margin-top:100px;
}
.topicName{
    font-size:13px;
    font-family:Bahnschrift;
    letter-spacing:2px;
    margin-right:10px;
}
h3{
    text-align:center;
    margin-top:20px;
}